/* .App {
  text-align: center;
} */

.movie-specs{
  display : flex;
  align-items: center;
  justify-content : space-between;
}

.movie-container{
  width: 340px;
}

.movie-poster{
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.movie-name{
  font-size: 24px;
  margin: 0;
}

.movie-summary{
  margin-top: 0;
}

.movie-rating{
  font-size: 18px;
}

.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.counter-container {
  width: min-content;
  margin-bottom: 36px;
}

.progress-container {
  width: 340px;
}